In [5]:
#from sklearn.preprocessing import StandardScaler
#from sklearn import metrics 
#from sklearn.metrics import classification_report, confusion_matrix 
from sklearn.model_selection import train_test_split
import numpy
import pandas as pd

In [3]:
# fix random seed for reproducibility
seed = 7
numpy.random.seed(seed)

In [11]:
# load car dataset
dataset = pd.read_csv('car.data',header = None)

In [38]:
dataMapping_rank = {"vhigh":4, "high":3, "med":2, "low":1}
dataMapping_size = {"big":3, "med":2, "small":1}
dataMapping_num = {"2":2, "3":3, "4":4, "5more":5, "more":5}
dataMapping_grade = {"unacc":1, "acc":2, "good":3, "vgood":4}

In [39]:
dataset['buying'] = dataset.iloc[:, 0].map(dataMapping_rank)
dataset['maint'] = dataset.iloc[:, 1].map(dataMapping_rank)
dataset['doors'] = dataset.iloc[:, 2].map(dataMapping_num)
dataset['persons'] = dataset.iloc[:, 3].map(dataMapping_num)
dataset['lug_boot'] = dataset.iloc[:, 4].map(dataMapping_size)
dataset['safety'] = dataset.iloc[:, 5].map(dataMapping_rank)
dataset['class'] = dataset.iloc[:, 6].map(dataMapping_grade)

In [40]:
# split into input (X) and output (Y) variables
X = dataset.iloc[:, 8:14]
y = dataset.iloc[:, 7]

In [48]:
X

      maint  doors  persons  lug_boot  safety  class
0         4      2        2         1       1      1
1         4      2        2         1       2      1
2         4      2        2         1       3      1
3         4      2        2         2       1      1
4         4      2        2         2       2      1
...     ...    ...      ...       ...     ...    ...
1723      1      5        5         2       2      3
1724      1      5        5         2       3      4
1725      1      5        5         3       1      1
1726      1      5        5         3       2      3
1727      1      5        5         3       3      4

[1728 rows x 6 columns]

In [43]:
# train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=1/3,random_state=42, stratify=y)

In [44]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=1000)
model.fit(X_train, y_train)
ypred = model.predict(X_test)

In [67]:
model.predict(pd.DataFrame([[3,4,0,3,3,3]]))

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([1])

In [ ]:
#result is 1 : "low" for buying